@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

// colors
$dark-color: #333;
$primary-font: 'Open Sans', sans-serif;
$title-color: #B16B75;
$rose-gold: #B16B75;

$header-font:  'Open Sans', sans-serif;