@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Poppins:wght@400;500;700&display=swap');

// colors
$dark-color: #333;
$white: #fff;
$iris-blue: #00bcd4;
$bluish-green: #12877f;
$color-f7: #f7f7f7;
$color-e1: #e1e1e1;

$header-font:  'Josefin Sans', sans-serif;
$primary-font: 'Poppins', sans-serif;