$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

$errorText: #ef3838;

.f-hidden {
  display: none;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin: 10px auto;
  
  input {
    ~ .fas {
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 8px;
    }
  }
  
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  // color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  &:focus {
    ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  }

  &.error{
    color: $errorText;
    ~ .form__label {
      color: $errorText;
    }
    &:focus {
      border-image: linear-gradient(to right, #991111, #ef3838);
      border-image-slice: 1;
    }
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}


/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.form__button {
  background-color: #04AA6D;
  color: #ffffff;
  border-color: #04AA6D;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 8px 16px;
  padding-left: 19px;
  padding-right: 19px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: none;
    background-color: #059862;
  }

  &[type="reset"] {
    background-color: #f44336;

    &:hover {
      box-shadow: none;
      background-color: #e24237;
    }
  }
}