* {
    font-size: 1.4rem;
    font-family: $primary-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

body {
    color: $dark-color;
}

a {
    color: $dark-color;
    text-decoration: none;
}

*.hide {
    display: none !important;
}