.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space__between, 
.justifyContentSpaceBetween {
    justify-content: space-between;
}

.space__center, 
.justifyContentCenter {
    justify-content: center;
}

.alignItemsCenter {
    align-items: center;
}

.verticalAlignTop{
    vertical-align: top;
}

.noTextTransform {
    text-transform: initial;
}