* {
    font-size: 1.4rem;
    font-family: $primary-font;
}

h1, h2, h3 {
    font-family: $header-font;
}

body {
    color: $dark-color;
}

a {
    color: $dark-color;
    text-decoration: none;
}

input,
select,
textarea {
    padding: 10px;
}

textarea {
    width: 100%;
    height: 150px;
}

[type="text"],
[type="email"],
[type="password"] {
    min-width: 50%;
}